@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .animated-gradient-bg {
    background: linear-gradient(-45deg, #0f172a, #3b0764, #0f766e, #0f172a);
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
  }

  @keyframes gradientMove {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}




